<!DOCTYPE html>  
<html lang="pt-BR">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Perfil de Usuário</title>  
    <!-- Adicione as chamadas para o CSS do Bootstrap -->  
    <style>  
        .btn-upload {  
            background-color: #007bff;  
            border-color: #007bff;  
            color: white;  
            padding: 10px 20px;  
            border-radius: 5px;  
            text-decoration: none;  
            display: inline-block;  
            transition: background-color 0.3s ease;  
        }  

        .btn-upload:hover {  
            background-color: #0056b3;  
            color: white;  
        }  
    </style>  
</head>  
<body>  
    {% extends 'base.html' %}  

    {% block content %}  
    <h1>Bem-vindo, {{ username }}!</h1>  
    <p>Esta é a sua página de perfil.</p>  
    <a href="{{ url_for('logout') }}" class="btn btn-danger">Sair</a>  
    <a href="{{ url_for('upload') }}" class="btn-upload">Fazer Upload</a>  
    {% endblock %}  

    <!-- Adicione as chamadas para o JavaScript do Bootstrap -->  
</body>  
</html>